<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OutsourcedEmail</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Authenticator</servlet-name>
    <servlet-class>org.mask.outsourcedemail.Authenticator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticator</servlet-name>
    <url-pattern>/AuthenticatorPath</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>SaltDigger</servlet-name>
    <servlet-class>org.mask.outsourcedemail.SaltDigger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaltDigger</servlet-name>
    <url-pattern>/SaltDiggerPath</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>